body {
    font-family: 'Laila', serif;
    background-image: url(../images/bgcookbook.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

#header {
    border-bottom: 3px solid gray;
    box-shadow: 5px 10px 18px gray;
    height: 185px;
    padding: 60px;
    text-align: center;
    color: black;
    font-family: 'Notable', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    background: url(../images/top_pic.gif);
    background-size: contain;
}

#header h1 {
    margin-left: auto;
    margin-right: auto;
}

#refresh {
        color: black;
        background-color: transparent;
        text-decoration: none;
}

 .search-box{
    margin: 0 auto;
    margin-top: 20px;
    left:22%;
    top:35%;
    height: 50px;
    width:56%;
    background-color:white;
    color:grey;
    box-shadow: 5px 10px 18px teal;
    border-radius: 999px;
}

#search {
    position:relative;
    left:auto;
    height: 40px;
    width:98%;
    margin: 6px;
    border-radius: inherit;
} 

#both-buttons {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#cook-button {
    width: 200px;
    height: 50px;
    background: url(../images/fire-2.gif);
    background-position: center;
    border-radius: 999px;
    font-size: large;
    font-weight: bold;
    box-shadow: 5px 10px 18px rgb(243, 160, 6);
}

#book-button {
    width: 200px;
    height: 50px;
    background: url(../images/bgif.gif);
    background-position: center;
    background-size: cover;
    border-radius: 999px;
    font-size: large;
    font-weight: bold;
    box-shadow: 5px 10px 18px rgb(84, 196, 121);
}

#locationSearch {
    display: none;
    margin: 0 auto;
    margin-top: 20px;
    left:22%;
    top:35%;
    height: 50px;
    width:38%;
    background-color:white;
    color:grey;
    box-shadow: 5px 10px 18px teal;
    border-radius: 999px;
}

#inputCity {
    position:relative;
    left:auto;
    height: 40px;
    width:97%;
    margin: 5px;
    border-radius: inherit;
}

#button-area {
    text-align: center;
}

#cityButton {
    margin: 20px auto;
    width: 200px;
    height: 50px;
    background: url(../images/mapgif.gif);
    background-position: center;
    background-size: cover;
    border-radius: 999px;
    font-size: large;
    font-weight: bold;
    box-shadow: 5px 10px 18px yellow;
    text-align: center;
}

@media screen and (min-width: 1100px) {
    .header {
        overflow: hidden;
    }
    .search-box{
        overflow: hidden;
    }
    #search {
        overflow: hidden;
    }
    #cook-button {
        overflow: hidden;
    }
    #book-button {
        overflow: hidden;
    }
  }

  @media screen and (min-width: 600px) {
    .header {
        overflow: hidden;
    }
    .search-box {
        overflow: hidden;
    }
    #search {
        overflow: hidden;
    }

    #cook-button {
        display: inline-block;
        background: url(../images/fire-2.gif);
        background-position: center;
        border-radius: 999px;
        font-size: large;
        font-weight: bold;
        box-shadow: 5px 10px 18px rgb(243, 160, 6);
    }

    #book-button {
        display: inline-block;
        background: url(../images/bgif.gif);
        background-position: center;
        background-size: cover;
        border-radius: 999px;
        font-size: large;
        font-weight: bold;
        box-shadow: 5px 10px 18px rgb(84, 196, 121);
    }
  }

  @media screen and (max-width: 375px) {
    #header {
        overflow: hidden;
        float: none;
        text-align: center;
        padding: 14px;
        width: auto;
        height: auto;
        text-align: center;
        margin: 4px;
    }

    #cook-button {
        display: inline-block;
        background: url(../images/fire-2.gif);
        background-position: center;
        border-radius: 999px;
        font-size: large;
        font-weight: bold;
        box-shadow: 5px 10px 18px rgb(243, 160, 6);
    }

    #book-button {
        display: inline-block;
        background: url(../images/bgif.gif);
        background-position: center;
        background-size: cover;
        border-radius: 999px;
        font-size: large;
        font-weight: bold;
        box-shadow: 5px 10px 18px rgb(84, 196, 121);
    }

    .row {
        overflow: hidden;
        float: none;
        text-align: center;
        padding: 14px;
        width: auto;
        height: auto;
        text-align: center;
        margin: 4px;
    }
  }

.foodPic {
    max-height: 200px;
    max-width: 300px;
}

.yelpPic {
  max-height: 200px;
  padding: 20px;
}

#resultsContainer {

}

.nameDiv {
    float: right;
    color: yellow;
}

.phoneDiv {
    float: right;
    color: yellow;
}
.locationDiv {
    float: right;
    color: yellow;
}
.ratingDiv {
    float: right;
    color: yellow;
}

.addedRow {
    float: left;
}