body {
    font-family: 'Laila', serif;
    background-image: url(../images/bgcookbook.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.search-box{
    position:absolute;
    left:21%;
    top:33%;
    width:56%;
    background-color:white;
    color:grey;
}

#search {
    position:absolute;
    left:21%;
    top:73%;
    width:56%;
    margin: 6px;
}

#locationSearch {
    display: none;
}