body {
    font-family: 'Laila', serif;
    background-image: url(../images/bgcookbook.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

#header {
    border-bottom: 3px solid gray;
    box-shadow: 5px 10px 18px gray;
    height: 185px;
    padding: 60px;
    text-align: center;
    color: black;
    font-family: 'Notable', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    background: url(../images/top_pic.gif);
    background-size: contain;
}

#header h1 {
    margin-left: auto;
    margin-right: auto;
}

#refresh {
        color: black;
        background-color: transparent;
        text-decoration: none;
}

 .search-box{
    margin: 0 auto;
    margin-top: 20px;
    left:22%;
    top:35%;
    height: 50px;
    width:56%;
    background-color:white;
    color:grey;
    box-shadow: 5px 10px 18px teal;
    border-radius: 999px;
}

#search {
    position:relative;
    left:auto;
    height: 40px;
    width:98%;
    margin: 6px;
    border-radius: inherit;
    cursor: url('https://cdn4.iconfinder.com/data/icons/momenticons-basic/32x32/search.png'), pointer;
} 

#both-buttons {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#cook-button {
    width: 200px;
    height: 50px;
    background: url(../images/fire-2.gif);
    background-position: center;
    border-radius: 999px;
    font-size: large;
    font-weight: bold;
    box-shadow: 5px 10px 18px rgb(243, 160, 6);
    text-shadow: 1px 1px white;
    cursor: url('https://cdn4.iconfinder.com/data/icons/32x32-free-design-icons/32/Knife.png'), pointer;
}

#book-button {
    width: 200px;
    height: 50px;
    background: url(../images/check.gif);
    background-position: center;
    background-size: auto;
    border-radius: 999px;
    font-size: large;
    font-weight: bold;
    box-shadow: 5px 10px 18px rgb(84, 196, 121);
    text-shadow: 1px 1px white;
    cursor: url('https://cdn0.iconfinder.com/data/icons/hamburg/32/check.png'), pointer;
}

#locationSearch {
    display: none;
    margin: 0 auto;
    margin-top: 20px;
    left:22%;
    top:35%;
    height: 50px;
    width:38%;
    background-color:white;
    color:grey;
    box-shadow: 5px 10px 18px teal;
    border-radius: 999px;
}

#inputCity {
    position:relative;
    left:auto;
    height: 40px;
    width:97%;
    margin: 5px;
    border-radius: inherit;
}

#button-area {
    text-align: center;
}

#cityButton {
    margin: 20px auto;
    width: 200px;
    height: 50px;
    background: url(../images/mapgif.gif);
    background-position: center;
    background-size: cover;
    border-radius: 999px;
    font-size: large;
    font-weight: bold;
    box-shadow: 5px 10px 18px yellow;
    text-align: center;
    cursor: url('https://cdn1.iconfinder.com/data/icons/Momentum_GlossyEntireSet/32/GPS_Asia.png'), pointer;
}

.table table-fixed {
    width: 70px;
}

#table-head {
    font-family: 'Zilla Slab Highlight', cursive;
    font-family: 'Galada', cursive;
    color:darkslategrey;
    text-shadow: 2px 2px white;
    font-size: x-large;
    font-weight: bolder;
}

#table-title {
    font-family: 'Zilla Slab Highlight', cursive;
    font-family: 'Galada', cursive;
    font-family: 'Kumar One', cursive;
    text-shadow: 2px 2px pink;
}

#results-table {
    background-image: url(../images/cuttingbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: auto;
    margin: 0px auto;
    width: max-content;
    text-align: center;
}

#b-top {
    margin: 20px auto;
    width: 200px;
    height: 50px;
    background: url(../images/bgrecipe.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 999px;
    font-size: large;
    font-weight: bold;
    box-shadow: 5px 10px 18px pink;
    text-align: center;
    align-items: center;
    cursor: url('https://cdn2.iconfinder.com/data/icons/drf/PNG/up_alt.png'), pointer;
}

#bottomButton {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.newRecipe {
    color: black;
    font-family: 'DM Serif Display', serif;
    text-shadow: 2px 2px pink;
}

.newRecipe:link {
    text-decoration: none;
    color: black;
}

.newRecipe:hover {
    background-color: palegreen;
    color: white;
}

@media screen and (min-width: 1100px) {
    .header {
        overflow: hidden;
    }
    .search-box{
        overflow: hidden;
    }
    #search {
        overflow: hidden;
    }
    #cook-button {
        overflow: hidden;
    }
    #book-button {
        overflow: hidden;
    }
  }

  @media screen and (min-width: 600px) {
    .header {
        overflow: hidden;
    }
    .search-box {
        overflow: hidden;
    }
    #search {
        overflow: hidden;
    }

    #cook-button {
        display: inline-block;
        background: url(../images/fire-2.gif);
        background-position: center;
        border-radius: 999px;
        font-size: large;
        font-weight: bold;
        box-shadow: 5px 10px 18px rgb(243, 160, 6);
    }

    #book-button {
        display: inline-block;
        background: url(../images/check.gif);
        background-position: center;
        background-size: auto;
        border-radius: 999px;
        font-size: large;
        font-weight: bold;
        box-shadow: 5px 10px 18px rgb(84, 196, 121);
    }
  }

  @media screen and (max-width: 375px) {
    #header {
        overflow: hidden;
        float: none;
        text-align: center;
        padding: 14px;
    }

    #cook-button {
        display: inline-block;
        background: url(../images/fire-2.gif);
        background-position: center;
        border-radius: 999px;
        font-size: large;
        font-weight: bold;
        box-shadow: 5px 10px 18px rgb(243, 160, 6);
    }

    #book-button {
        display: inline-block;
        background: url(../images/check.gif);
        background-position: center;
        background-size: auto;
        border-radius: 999px;
        font-size: large;
        font-weight: bold;
        box-shadow: 5px 10px 18px rgb(84, 196, 121);
    }

    .row {
        overflow: hidden;
        float: none;
        text-align: center;
        padding: 14px;
        width: auto;
        height: auto;
        text-align: center;
        margin: 4px;
    }
  }

.foodPic {
    max-height: 200px;
    max-width: 300px;
}

.yelpPic {
  max-height: 200px;
  padding: 20px;
}

.nameDiv {
 color: black;
 background-color: white;
 max-width: 150px;
 text-align: center;
 border: solid;
 border-color: grey;
 font-size: 25px;
}

.phoneDiv {
    background-color: whitesmoke;
    font-size: 15px;
    max-width: 210px;
    text-align: center;
    border: solid;
    border-color: lightgrey;
    border-radius: 25px;
    text-align: center;
   

}
.locationDiv {
    background-color: whitesmoke;
    font-size: 15px;
    max-width: 210px;
    text-align: center;
    border: solid;
    border-color: lightgrey;
    border-radius: 25px;
    text-align: center;
    color: darkolivegreen;

}
.ratingDiv {
    background-color: whitesmoke;
    font-size: 15px;
    max-width: 120px;
    text-align: center;
    border: solid;
    border-color: lightgrey;
    border-radius: 25px;
    text-align: center;
    color: coral;

}

.foodDiv {
    color:black;
    font-size: 30px;
    background-color: white;
    max-width: 250px;
    text-align: center;
    border: solid;
    border-color: grey;;
} 
.foodPic {
    float: none;
    margin: 45px;
    max-height: 200px;
    max-width: 300px;
} 
.foodRecipeDiv {
    background-color: white;
    max-width: 250px;
    text-align: center;
    margin: 10px;
    border-radius: 25px;

} 
.favButtonDiv {
    color: white;
    border-color: none;
    background-color: darkgrey;
    margin: 10px;
    border-radius: 25px;
    text-align: center;
}

.divide-line {
    border: 1px solid darkgray;
    border-radius: 1px;
    margin-left: 200px;
    margin-right: 200px;
}
